body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #5f2c82, #49a09d);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.card {
    background: rgba(0, 0, 0, 0.6);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar {
    border: none;
    outline: none;
    padding: 0.7em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 60px);
    margin-right: 10px;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}

h1.temp {
    margin: 0;
    font-size: 45px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Zadejte město..."; /* Změněno na češtinu */
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}